{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<div
  class="page-width stockists-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  style="--stockists-columns-desktop: {{ section.settings.columns_desktop }};--stockists-columns-mobile: {{ section.settings.columns_mobile }};"
>
  {% for block in section.blocks %}
    <article class="stockist">
      {% if block.settings.name != blank %}
        <h2 class="stockist__name">
          {% if block.settings.url != blank %}
            <a href="{{ block.settings.url }}" target="_blank" class="stockist__link">
              {{ block.settings.name }}
            </a>
          {% else %}
            {{ block.settings.name }}
          {% endif %}
        </h2>
      {% endif %}

      <p class="stockist__country">
        {{ block.settings.country }}
      </p>
    </article>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Stockists list",
  "tag": "div",
  "class": "stockists-list container",
  "presets": [
    {
      "name": "Stockists list"
    }
  ],
  "settings": [
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 5,
      "label": "Number of columns on desktop"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        },
        {
          "value": "3",
          "label": "3 columns"
        }
      ],
      "default": "2",
      "label": "Number of columns on mobile"
    }
  ],
  "blocks": [
    {
      "name": "Stockist",
      "type": "stockist",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Stockist name"
        },
        {
          "type": "text",
          "id": "country",
          "label": "Country"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Stockist website"
        }
      ]
    }
  ]
}
{% endschema %}
