{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<div class="page-width stockists-container">
  {% for block in section.blocks %}
    <article class="stockist">
      {% if block.settings.name != '' %}
        <h2 class="stockist__name">
          {% if block.settings.url != '' %}
            <a href="{{ block.settings.url }}" target="_blank">
              {{ block.settings.name }}
              {% render 'icon-arrow-ne' %}
            </a>
          {% else %}
            {{ block.settings.name }}
          {% endif %}
        </h2>
      {% endif %}

      <p class="stockist__country">
        {{ block.settings.country }}
      </p>
    </article>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Stockists list",
  "tag": "div",
  "class": "contacts-list container",
  "presets": [
    {
      "name": "Stockists list"
    }
  ],
  "blocks": [
    {
      "name": "Stockist",
      "type": "stockist",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Stockist name"
        },
        {
          "type": "text",
          "id": "country",
          "label": "Country"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Stockist website"
        }
      ]
    }
  ]
}
{% endschema %}
